# R session files
.Rhistory
.RData
.Ruserdata

# RStudio project files
.Rproj.user/

# Ignore all data files
data/**

# Keep folder structure
!data/.gitkeep
!data/enrolments/.gitkeep
!data/step_activity/.gitkeep

# ProjectTemplate cache
cache/

# Temporary files
*.tmp
*.log